.categories{
  margin: 0 10px;
}
.mySwiper{
  background-color: red;
}

.categoryDiv{
  /* background-color: yellow; */
  border-radius: 20px;
  padding: 30px ;
  transition: all 500ms ease;
 
}

.categoryDiv:hover{
  transform: scale(0.9);
}

.slide{
  /* font-size: 20px; */
  text-align: center;
  font-weight: 600;
  background-color:rgb(246, 245, 245);
  /* padding: 20px; */
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  /* border: 1px solid transparent; */
}


.icon{
  font-size: 70px;
}